.hdr3-wrapper{
  background-color: #AB2A19;
  height: 50px;
  margin-top: 0px;
  padding: 24px 0px 24px 0px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.hdr-logo{
  margin-left: 4%;
  padding: 10px 30px 10px 0px;
  display: inline;
}

.hdr3-shlf-nav{
  background-color: #D34735;
  color: white;
  height: 98px;
  width: 20%;
  margin-left: 40px;
  padding: 0px 0px 0px 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 3.0em;
  font-weight: bold;
}

.hdr3-bin-nav{
  background-color: #ED6B5A;
  color: white;
  height: 98px;
  width: 70%;
  padding: 0px 0px 0px 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 3.0em;
  font-weight: bold;
}

.input-wpr {
  display: flex;
  flex-direction: row;
  position: absolute;
  max-height: 60%;
  margin-left: 5%;
}

.bin-img {
  width: 400px;
  height: 440px;
  margin: 30px 70px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin: 15px 30px;
}

.input-label {
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-name-box {
  border-radius: 7px;
  height: 90px;
  border: 1px solid #ED6B5A;
  font-size: 3.0em;
  font-weight: bolder;
  padding: 0px 30px;
  outline: none;
}

.input-name-box[type=text]:focus {
  border: 5px solid #D34735 ;
}

.input-price-box {
  border-radius: 7px;
  height: 90px;
  border: 1px solid #ED6B5A;
  font-size: 3.0em;
  font-weight: bolder;
  padding: 0px 50px;
  outline: none;
}

.input-price-box:focus {
  border: 5px solid #D34735 ;
}

.dollar-symbol {
  position: relative;
  background-color: #dedede;
  display: inline;
}

.dollar-symbol:before {
  content: '$';
  position: absolute;
  top: 19px;
  left: 19px;
  z-index: 1;
  font-size: 3.0em;
  font-weight: bolder;
}

.inv-btn-wpr {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  top: 67%;
  left: 35%;
  width: 63%;
}

.inv-edit-btn {
  text-align: center;
  background-color: #D8D8D8;
  color: black;
  width: 275px;
  height: 100px;
  margin: 50px 11%;
  border: none;
  font-size: 3.0em;
  font-weight: bold;
  border-radius: 7px;
  opacity: 1;
  outline: 0;
}

.inv-btn:hover {opacity:0.7;}

.inv-del-btn {
  text-align: center;
  background-color: #D8D8D8;
  color: black;
  width:275px;
  height: 100px;
  margin: 50px 0;
  border: none;
  font-size: 3.0em;
  font-weight: bold;
  border-radius: 7px;
  opacity: 1;
  outline: 0;
}

.inv-del-btn:hover {opacity:0.7;}

.inv-cncl-btn {
  text-align: center;
  background-color: #D8D8D8;
  color: black;
  width: 275px;
  height: 100px;
  margin: 50px 0;
  border: none;
  font-size: 3.0em;
  font-weight: bold;
  border-radius: 7px;
  opacity: 1;
  outline: 0;
}

.inv-cncl-btn:hover {opacity:0.7;}

.inv-save-btn {
  text-align: center;
  background-color: #40F99B;
  color: black;
  width: 275px;
  height: 100px;
  margin: 50px 11%;
  border: none;
  font-size: 3.0em;
  font-weight: bold;
  border-radius: 50px;
  opacity: 1;
  text-decoration: none;
  outline: 0;
}    

.inv-save-btn:hover {opacity:0.7;}