.invNavContainer {
  display: flex;
  flex-direction: row;
}

.inventoryListNav {
  height: 80px;
  background: #ab2a19;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.inventoryListNav img {
  width: 50px;
}

.inventoryShelfNav {
  width: 20%;
  height: 80px;
  background: #d34735;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.shelfye {
  text-decoration: none;
  color: white;
}

.inventoryBinNav {
  width: 65%;
  height: 80px;
  background: #ed6b5a;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.inv-container {
  display: flex; 
  margin-top: 20px;
}

.item-image {
  margin-left: 6%;
}

.item-image img {
  width: 300px;
  height: 200px;
  background-size: cover;
}


.info-container {
  margin-left: 3%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
}


.info-container h3 {
  margin-left: 10px;
  font-weight: bolder;
}

.info-container input {
  border: 1px solid #ffb8af;
  border-radius: 8px;
  padding: 12px;
  min-width: 500px;
  width: auto;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.info-container input::placeholder {
  color: black;
}

.info-container input:focus {
  border: 8px solid #ab2a19;
  outline: 0;
}

.invButtonContainer {
  display: flex;
  justify-content: space-between;
}

.invButtonContainer button {
  background: #d8d8d8;
  height: 60px;
  width: 200px;
  border-radius: 8px;
  font-size: 30px;
  padding: 10px 0;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#save-button {
  background: #40f99b;
  border-radius: 50px;
}