.shelves-container {
  margin-left: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.shelf-button{
  width: 50%;
  height: 70px;
  text-align: left;
  text-decoration: none;
  background-color: #D34735;
  color: white;
  margin: 15px;
  padding-left: 125px;
  display: block; 
  font-size: 3.0em;
  border-radius: 7px;
  opacity: 1;
}
